@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 200px;
        
    }
    nav h3{
        color: rgb(13, 19, 33);
        font-size: 28px;
        font-weight: 800;
        line-height: 33px;
        letter-spacing: 0%;
        text-align: left;
    }

    nav button{
        box-sizing: border-box;
        background: rgb(255, 255, 255);
        width: 208px;
        height: 66px;
/* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(13, 19, 33);
        border-radius: 8px;
        opacity: 0.8;
        /* Frame 2 */
        width: 228px;
        height: 58px;
        left: 1046px;
        top: 38px;
        /* Auto layout */
        padding: 17px 24px 17px 24px;
}
nav button a{
    color: rgb(13, 19, 33);
    text-decoration-line: none;
    font-size: 17px;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    
}
section {
    Margin: 0 auto 50px;
    }
    .azeret-mono-font {
        font-family: "Azeret Mono", monospace;
        font-optical-sizing: auto;
        font-style: normal;
      }    

      .banner{
        width: 90vw;
        height: 90vh;
        background-image: url(assets/Hero-bg.png);
        background-position: center;
        background-size: cover;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 65px;
        
    }
.headline{
    color: rgb(13, 19, 33);
    font-size: 40px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;
}
.headpara{
        color: rgb(13, 19, 33);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 24px;
}
.fp{
    /* Group */

/* width: 240.28px;
height: 240px;
left: 257.67%;
right: -257.67%;
top: 0%;
bottom: 0%; */
    width: 100%;
    height: auto;
    object-fit: contain;


}
.firstpic{
    
    margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.btn{
        /* Frame 2 */
border-radius: 8px;

background: rgb(13, 19, 33);
width: 208px;
height: 66px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;
/* Inside Auto Layout */
justify-content: center;
align-items: center;
margin-top: 32px;
margin-bottom: 100px;
max-width: fit-content;
max-height: fit-content;
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px; 
}
.text-center{                  
    text-align: center;
    margin-bottom: 10px;

}
.btn-text{
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
text-decoration-line: none;
}

/* Frame 13 */
.second-page{
left: 148px;
right: 152px;
top: 857px;
bottom: 2993px;
/* Auto layout */

padding: 80px 97px 80px 97px;

}
.second-head{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;

}
.second-para{
    color: rgb(13, 19, 33);

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;


}
.resume-button{
    margin: 50px;
    align-items: center;
    text-align: center;
}
.second-page{
    /* Frame 13 */
/* Auto layout */
align-items: center;
padding: 80px 97px 80px 97px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
}
.first-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* Frame 10 */
/* width: 850px;
height: 240px;
/* Auto layout */
/* display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
/* Inside Auto Layout */
/* margin: 32px 0px;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%); */ 

}
.first-section-head{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.first-section-para{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;

}
.layer1{
    margin-left: 100px;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn2{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    /* Frame 7 */
    width: 150px;
    height: 48px;
    /* Auto layout */
    padding: 12px 20px 12px 20px;


/* Inside Auto Layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 32px 0px;
}
.layerA{
    /* Frame 9 */

width: 477px;
height: 220px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 98.8309326171875px;
}
.btn2-font{
    color: rgb(13, 19, 33);

font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.third-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 1140px;
    height: 775px;
    left: 148px;
    right: 152px;
    top: 2340px;
    bottom: 2130px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

}
.third-page-head{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
.third-page-para{
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;

}
.videos{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    /* Frame 14 */

width: 1140px;
height: 514px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 32px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 48px 0px;
    
}

.forth-page{
    /* Frame 19 */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 1140px;
    height: 775px;
    left: 148px;
    right: 152px;
    top: 2340px;
    bottom: 2130px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}
main section{
    margin-bottom: 130px;
    margin-top: 130px;
  }
  .mar-bot {
    /* Styles for your logo */
    margin-bottom: 20px; /* Adjust this value to change the gap size */
  }

  .what-I-do-skils{
    display: flex;
    gap : 24px;
    padding: 30px;
    margin-bottom: 20px;
}
.skills{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
}
.skills2{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
}
.skill-title{
color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.skiil-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;

}
.learn-button{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;

}
.anchor{
    color: rgb(13, 19, 33);
    text-decoration-line: none;
}
.foot{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    /* margin: 10px 200px; */
   width: 1140px;
    height: 36px;
    padding: 100px;
    

    background: rgba(13, 19, 33, 0.03);
/* Auto layout */


}
.footpara{
    color: rgb(13, 19, 33);
   font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;

}
.support{
/* Frame 8 */
border-radius: 16px;

background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)) ,url(assets/handshake.jpg);
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
padding: 64px 48px;
min-height: 200px;
}
.fifth-page{
    padding: 0 100px;
}
.support-content {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.support-content h2 {
color: rgb(255, 255, 255);
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 16px;
}

.support-content p {
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 16px;

}

.support-content form {
/* Frame 7 */

width: 548px;
height: 57px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 19px 20px 19px 20px;


/* Inside Auto Layout */
/* flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;     */
/* box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px; */
/* background: rgb(255, 255, 255); */
}

.support-content input {
/* Frame 7 */
position: static;
width: 548px;
height: 57px;
/* Auto layout */

padding: 19px 20px 19px 20px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);

}
.support-content-font {
color: rgba(13, 19, 33, 0.4);
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}

.support-content button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
   /* Frame 8 */

width: 120px;
height: 57px;
/* Auto layout */
padding: 17px 20px 17px 20px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;
color: rgb(13, 19, 33);

font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;

}